<div class="wrapper">
  <h1>Desafio Front-End da Indra</h1>
  <h3>Este é um projeto feito em Angular 9 & TypeScript, consumindo a API <a href="https://pokeapi.co">pokeapi.com</a></h3>
  <br>
  <h3><b>Recursos desenvolvidos:</b></h3>
  <ul>
    <li>
      <h3>Design de de UI/UX</h3>
    </li>
    <li>
      <h3>Visual minimalista e intitivo</h3>
    </li>
    <li>
      <h3>Consumo de informações da API, tais como  <br>customização da cor do card de acordo com<br>
       o tipo do pokemon (Grama, choque, inseto) etc.</h3>
    </li>
    <li>
      <h3>Paginação de recursos com limitação de 20 itens<br>
       por carregamento, com botões de avaçãr e retroceder</h3>
    </li>
    <li>
      <h3>Navegação com Router, entre a Home e o About</h3>
    </li>
  </ul>

  <h3><b>Pontos a serem considerados</b></h3>
  <ul>
    <li>
      <h3>Sass & Material UI (em alguns recursos)</h3>
    </li>
    </ul>
</div>
